@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Roboto&display=swap");
@font-face {
  font-family: "Helvetica Neue 55 Roman";
  src: url("../fonts/helveticaneue-roman.otf") format("otf");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueBoldCondensed.woff2") format("woff2"), url("../fonts/HelveticaNeueBoldCondensed.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueBlackCondensed.woff2") format("woff2"), url("../fonts/HelveticaNeueBlackCondensed.woff") format("woff");
  font-weight: 900;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* Убирает линии обводки ***************************************************/
:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

header,
footer,
nav,
aside {
  display: block;
}

/* Уравнивает параметры шрифтов на разных браузерах */
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* Прошу элементы форм наследовать стили элементов шрифта */
input,
button,
textarea {
  font-family: inherit;
}

/* Убирает крест у IE */
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  bottom: 0;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

body {
  font-family: "Helvetica Neue 55 Roman", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #424551;
  height: 100%;
}

div[class*="__container"] {
  margin: 0 auto;
  max-width: 1140px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px 15px;
}

.wrapper {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

/* ===================================== */
.btn {
  background: #34c759;
  border-radius: 43px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 57px;
  min-height: 72px;
  font-family: "Helvetica Neue";
  font-weight: 700;
  font-size: 18px;
  line-height: 122.22222%;
  text-align: center;
  letter-spacing: 0.2em;
  color: #1a1a1a;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid transparent;
  text-transform: uppercase;
}

.btn:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #34c759;
  background: #1a1a1a;
  border: 1px solid white;
  cursor: pointer;
}

.btn_item {
  font-weight: 900;
  font-size: 10px;
  line-height: 140%;
  color: #252525;
  padding: 5px 32px;
  min-height: 40px;
  border-radius: 30px;
  background: #262626;
  border: 2px solid #303030;
  color: rgba(255, 255, 255, 0.5);
}

.btn_item:hover {
  color: #252525;
  background: #34c759;
  border: 2px solid transparent;
}

/* ===================================== */
._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

/* ===================================== */
.header {
  position: absolute;
  top: 0;
  width: 100%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.header__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 91px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__logo:not(:last-child) {
  margin: 0px 20px 0px 0px;
}

.header__icon:not(:last-child) {
  margin: 0px 9px 0px 0px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item:not(:last-child) {
  margin: 0px 45px 0px 0px;
}

@media (max-width: 450px) {
  .header__item:not(:last-child) {
    margin: 0px 25px 0px 0px;
  }
}

.header__link {
  font-family: "Helvetica Neue Condensed Bold", sans-serif;
  font-size: 14px;
  line-height: 150%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  color: #ffffff;
}

.header__link:hover {
  color: #34c759;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* ===================================== */
.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: #1a1a1a;
}

.first-page {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(33, 33, 33, 0.5)), to(rgba(33, 33, 33, 0.5))), url("../img/first/placeholder.jpg") right bottom/cover no-repeat;
  background: -o-linear-gradient(bottom, rgba(33, 33, 33, 0.5), rgba(33, 33, 33, 0.5)), url("../img/first/placeholder.jpg") right bottom/cover no-repeat;
  background: linear-gradient(0deg, rgba(33, 33, 33, 0.5), rgba(33, 33, 33, 0.5)), url("../img/first/placeholder.jpg") right bottom/cover no-repeat;
}

.first-page__box {
  padding: 171px 0px 401px 0px;
  text-align: center;
}

@media (max-width: 600px) {
  .first-page__box {
    padding: 171px 0px 301px 0px;
  }
}

.first-page__heading {
  font-family: "Helvetica Neue 55 Roman", sans-serif;
  font-size: 72px;
  line-height: 120.83333%;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #ffffff;
  font-weight: 400;
}

.first-page__heading span {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 700;
}

.first-page__heading:not(:last-child) {
  margin: 0px 0px 16px 0px;
}

@media (max-width: 500px) {
  .first-page__heading {
    font-size: 50px;
  }
}

@media (max-width: 380px) {
  .first-page__heading {
    font-size: 40px;
  }
}

.first-page__subheading {
  font-size: 16px;
  line-height: 162.5%;
  text-align: center;
  letter-spacing: -0.2px;
  color: rgba(255, 255, 255, 0.7);
  max-width: 594px;
  margin: 0 auto;
}

.first-page__subheading:not(:last-child) {
  margin-bottom: 40px;
}

.first-page__btn {
  margin: 0 auto;
}

.first-page__btn:not(:last-child) {
  margin-bottom: 40px;
}

.first-page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
  margin: 0 -20px;
}

.first-page__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  min-width: 210px;
}

.first-page__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 18px;
          flex: 0 1 18px;
  max-width: 21px;
}

.first-page__icon:not(:last-child) {
  margin-bottom: 18px;
}

.first-page__info {
  line-height: 187.5%;
  color: #ffffff;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.first-page__subinfo {
  font-size: 14px;
  line-height: 214.28571%;
  color: rgba(255, 255, 255, 0.5);
}

/* ===================================== */
.basic-page {
  margin-top: -240px;
}

.basic-page__container {
  background: #252525;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.basic-page__box {
  padding: 105px 15px 90px 15px;
  text-align: center;
}

@media (max-width: 600px) {
  .basic-page__box {
    padding: 50px 15px 40px 15px;
  }
}

.basic-page__heading {
  position: relative;
}

.basic-page__heading:not(:last-child) {
  margin-bottom: 61px;
}

.basic-page__heading span {
  font-weight: 400;
  font-size: 30px;
  line-height: 200%;
  letter-spacing: 0.2em;
  color: #d9d9d9;
  z-index: 1;
  position: relative;
}

@media (max-width: 700px) {
  .basic-page__heading span {
    font-size: 26px;
  }
}

.basic-page__heading::before {
  content: "ABOUT";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 900;
  font-size: 100px;
  line-height: 150%;
  letter-spacing: 0.2em;
  color: #303030;
}

@media (max-width: 700px) {
  .basic-page__heading::before {
    font-size: 60px;
  }
}

.basic-page__subheading {
  line-height: 188%;
  color: #a6a6a6;
  max-width: 734px;
  margin: 0 auto;
}

.basic-page__subheading:not(:last-child) {
  margin-bottom: 90px;
}

@media (max-width: 720px) {
  .basic-page__subheading:not(:last-child) {
    margin-bottom: 40px;
  }
}

.basic-page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.basic-page__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #303030;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.basic-page__left:not(:last-child) {
  margin-right: 61px;
}

@media (max-width: 720px) {
  .basic-page__left:not(:last-child) {
    margin-right: 15px;
  }
}

@media (max-width: 450px) {
  .basic-page__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 30px;
  }
}

.basic-page__image-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 350px;
          flex: 0 1 350px;
  padding-bottom: 25%;
}

.basic-page__image-left:not(:last-child) {
  margin-right: 34px;
}

@media (max-width: 720px) {
  .basic-page__image-left {
    display: none;
  }
}

.basic-page__image-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 350px;
          flex: 0 1 350px;
  padding-bottom: 25%;
}

@media (max-width: 720px) {
  .basic-page__image-right {
    padding-bottom: 41.5%;
  }
}

.basic-page__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #303030;
  margin-left: 61px;
}

@media (max-width: 720px) {
  .basic-page__right {
    margin-left: 15px;
  }
}

@media (max-width: 450px) {
  .basic-page__right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 30px;
  }
}

/* ===================================== */
.works-page {
  padding: 61px 0px 30px 0px;
}

.works-page__title:not(:last-child) {
  margin-bottom: 90px;
}

@media (max-width: 700px) {
  .works-page__title:not(:last-child) {
    margin-bottom: 40px;
  }
}

.works-page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
}

.works-page__element {
  padding: 0 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  min-width: 230px;
}

.works-page__content {
  padding: 24px;
  background: #252525;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.works-page__heading {
  font-size: 22px;
  line-height: 118.18182%;
  letter-spacing: -0.275px;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 24px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.works-page__heading::after {
  content: "";
  display: block;
  width: 56px;
  height: 2px;
  top: 42px;
  background: #34c759;
  margin-top: 10px;
}

.works-page__text {
  font-size: 13px;
  line-height: 138%;
  letter-spacing: -0.1625px;
  color: rgba(255, 255, 255, 0.5);
}

.title-block {
  text-align: center;
}

.title-block__title {
  position: relative;
  margin: 0px 0px 28px 0px;
}

.title-block__title span {
  font-weight: 400;
  font-size: 36px;
  line-height: 250%;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: capitalize;
  color: #d9d9d9;
  position: relative;
  z-index: 2;
}

@media (max-width: 700px) {
  .title-block__title span {
    font-size: 26px;
  }
}

.title-block__title::before {
  content: "WORK";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Helvetica Neue";
  font-weight: 900;
  font-size: 100px;
  line-height: 150%;
  letter-spacing: 0.2em;
  color: #303030;
}

@media (max-width: 700px) {
  .title-block__title::before {
    font-size: 60px;
  }
}

.title-block__line {
  height: 2px;
  background: #34c759;
  width: 60px;
  margin: 0 auto;
}

/* ===================================== */
.dish-page {
  padding: 90px 0px 30px 0px;
}

@media (max-width: 700px) {
  .dish-page {
    padding: 40px 0px 30px 0px;
  }
}

.dish-page__title:not(:last-child) {
  margin-bottom: 59px;
}

.dish-page__title_decor::before {
  content: "DISHES";
}

.dish-page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dish-page__element {
  padding: 0 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  max-width: 350px;
}

.dish-page__content {
  background: #252525;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.dish-page__link {
  padding-bottom: calc(260 / 350 * 100%);
  border-radius: 6px 6px 0px 0;
}

.dish-page__link::after {
  content: "";
  position: absolute;
  background: url("../img/dish/arrow.svg") 0 0 no-repeat;
  top: 24px;
  right: 24px;
  width: 40px;
  height: 40px;
}

.dish-page__block {
  padding: 29px 30px;
}

.dish-page__heading {
  font-size: 32px;
  line-height: 94%;
  color: #d9d9d9;
}

.dish-page__subheading {
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.15px;
  color: #a4a8b2;
}

.dish-page__subheading:not(:last-child) {
  margin-bottom: 20px;
}

.dish-page__text {
  font-size: 13px;
  line-height: 138%;
  letter-spacing: -0.1625px;
  color: #85878c;
}

.dish-page__text:not(:last-child) {
  margin-bottom: 26px;
}

.box-dish-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box-dish-page__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-dish-page__box:not(:last-child) {
  margin-right: 10px;
}

.box-dish-page__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-dish-page__stars:not(:last-child) {
  margin-right: 12px;
}

.box-dish-page__star:hover img {
  color: yellow;
}

.box-dish-page__btn:hover {
  background: #34c759;
  color: #252525;
}

/* ===================================== */
.chefs-page {
  padding: 61px 0px 30px 0px;
}

.chefs-page__title_decor::before {
  content: "CHEFS";
}

.chefs-page__title:not(:last-child) {
  margin-bottom: 37px;
}

.chefs-page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chefs-page__item {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  min-width: 305px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chefs-page__chef {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chefs-page__chef:not(:last-child) {
  margin-bottom: 24px;
}

.chefs-page__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65px;
          flex: 0 0 65px;
  border-radius: 50%;
  overflow: hidden;
  height: 65px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.chefs-page__icon:not(:last-child) {
  margin-right: 24px;
}

.chefs-page__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.chefs-page__name {
  font-size: 18px;
  line-height: 116.66667%;
  letter-spacing: -0.225px;
  color: #ffffff;
}

.chefs-page__name:not(:last-child) {
  margin-bottom: 6px;
}

.chefs-page__specialization {
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.15px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.chefs-page__dishes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8.5%;
          column-gap: 8.5%;
  overflow: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
}

@media (max-width: 609px) {
  .chefs-page__dishes {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.chefs-page__img-big {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(160 * 100 / 350 * 1%);
          flex: 0 1 calc(160 * 100 / 350 * 1%);
  padding-bottom: calc(65 / 350 * 100%);
}

.chefs-page__img-big img {
  border-radius: 2px;
}

@media (max-width: 609px) {
  .chefs-page__img-big {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(160 * 100 / 350 * 1%);
            flex: 0 0 calc(160 * 100 / 350 * 1%);
  }
}

.chefs-page__img-small {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(65 * 100 / 350 * 1%);
          flex: 0 1 calc(65 * 100 / 350 * 1%);
  padding-bottom: calc(65 / 350 * 100%);
}

.chefs-page__img-small img {
  border-radius: 2px;
}

@media (max-width: 609px) {
  .chefs-page__img-small {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(65 * 100 / 350 * 1%);
            flex: 0 0 calc(65 * 100 / 350 * 1%);
  }
}

/* ===================================== */
.recipes-page {
  padding-top: 100px;
  padding-bottom: 100px;
}

.recipes-page__title:not(:last-child) {
  margin-bottom: 90px;
}

.recipes-page__title_decor::before {
  content: "RECIPES";
}

.recipes-page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recipes-page__element {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.recipes-page__element_big {
  margin: 0 auto;
}

.recipes-page__bigblock {
  position: relative;
}

.bigblock-recipes-page {
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  overflow: hidden;
  min-width: 400px;
  max-width: 540px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .bigblock-recipes-page {
    min-width: 305px;
  }
}

.bigblock-recipes-page__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.bigblock-recipes-page__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.bigblock-recipes-page__arrow {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 6;
  margin: 30px 30px 0px 0px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.bigblock-recipes-page__arrow:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background: black;
  -webkit-box-shadow: 0 0 19px 1px white;
          box-shadow: 0 0 19px 1px white;
  z-index: 10;
}

.bigblock-recipes-page__box {
  padding: 60px 90px;
}

.bigblock-recipes-page__box:not(:first-child) {
  margin-top: -60px;
}

@media (max-width: 1000px) {
  .bigblock-recipes-page__box {
    padding: 30px 50px;
  }
}

.bigblock-recipes-page__title {
  font-family: "Helvetica Neue";
  font-weight: 900;
  font-size: 10px;
  line-height: 150%;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 2px 15.5px;
  min-height: 25px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  z-index: 1;
}

.bigblock-recipes-page__title:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: black;
  background: #ffffff;
}

.bigblock-recipes-page__title:not(:last-child) {
  margin-bottom: 65px;
}

.bigblock-recipes-page__date {
  font-size: 14px;
  line-height: 214%;
  color: #ffffff;
  position: relative;
  z-index: 1;
}

.bigblock-recipes-page__date:not(:last-child) {
  margin-bottom: 25px;
}

.bigblock-recipes-page__text {
  font-size: 24px;
  line-height: 167%;
  color: #ffffff;
  position: relative;
  z-index: 1;
}

.bigblock-recipes-page__text:not(:last-child) {
  margin-bottom: 45px;
}

.bigblock-recipes-page__autor {
  font-size: 14px;
  line-height: 214%;
  color: #ffffff;
  position: relative;
  z-index: 1;
}

.bigblock-recipes-page__autor:not(:last-child) {
  margin-bottom: 60px;
}

.bigblock-recipes-page__active {
  position: relative;
  z-index: 1;
}

.bigblock-recipes-page__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.bigblock-recipes-page__icon {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.active {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 24px;
  font-family: "Helvetica Neue";
  font-weight: 700;
  font-size: 12px;
  line-height: 250%;
  color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.active__views {
  padding-left: 31px;
  background: url("../img/recipes/eye.svg") left center no-repeat;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.active__views:hover {
  text-shadow: 0 0 1px white;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: red;
}

.active__image {
  width: 26px;
  height: 26px;
}

.active__comments {
  padding-left: 31px;
  background: url("../img/recipes/comments.svg") left center no-repeat;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.active__comments:hover {
  text-shadow: 0 0 1px white;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: red;
}

.smallblock-recipes-page {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #252525;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 30px 30px 20px 30px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.smallblock-recipes-page:hover {
  background: #34c759;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.smallblock-recipes-page:hover .smallblock-recipes-page__text {
  color: #252525;
}

.smallblock-recipes-page:hover .smallblock-recipes-page__link {
  background: #000000;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.smallblock-recipes-page:hover .smallblock-recipes-page__link:hover {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  color: #000;
  background: #fff;
}

.smallblock-recipes-page:hover .smallblock-recipes-page__date {
  color: #1a1a1a;
}

.smallblock-recipes-page:hover .smallblock-recipes-page__picture {
  opacity: 0;
}

.smallblock-recipes-page__content {
  position: relative;
  z-index: 3;
}

.smallblock-recipes-page__text {
  line-height: 188%;
  color: #ffffff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.smallblock-recipes-page__text:not(:last-child) {
  margin-bottom: 10px;
}

.smallblock-recipes-page__text:hover {
  color: #252525;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.smallblock-recipes-page__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 15px;
}

.smallblock-recipes-page__box {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.smallblock-recipes-page__box:not(:last-child) {
  margin-right: 15px;
}

.smallblock-recipes-page__link {
  font-family: "Helvetica Neue";
  font-weight: 900;
  font-size: 10px;
  line-height: 150%;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 2px 15.5px;
  min-height: 25px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.smallblock-recipes-page__link:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: black;
  background: #ffffff;
}

.smallblock-recipes-page__link:not(:last-child) {
  margin-right: 15px;
}

.smallblock-recipes-page__date {
  font-size: 12px;
  line-height: 208%;
  color: #b3b3b3;
}

.smallblock-recipes-page__picture::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)));
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5));
}

.smallblock-recipes-page__image {
  border-radius: 6px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

/* ===================================== */
.social-page__title_decor::before {
  content: "SOCIAL";
}

.social-page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.social-page__element {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333333%;
          flex: 0 0 33.333333%;
}

.social-page__content {
  background: #252525;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  max-height: 331px;
  overflow: auto;
  position: relative;
}

.social-page__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background: #252525;
}

.social-page__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-page__contacts:not(:last-child) {
  margin-right: 15px;
}

.social-page__twitter {
  border-radius: 50%;
  border: 2px solid #303030;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-page__twitter:not(:last-child) {
  margin-right: 20px;
}

.social-page__facebook {
  border-radius: 50%;
  border: 2px solid #303030;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-page__facebook:not(:last-child) {
  margin-right: 20px;
}

.social-page__name-soc {
  font-size: 14px;
  line-height: 214%;
  color: #bfbfbf;
}

.social-page__btn {
  padding: 5px 19px;
  min-height: 40px;
}

.social-page__line {
  width: 100%;
  height: 2px;
  background: #303030;
}

.social-page__description {
  padding: 19px 40px 20px 30px;
}

.social-page__description > :not(:last-child) {
  margin-bottom: 10px;
}

.social-page__date {
  font-size: 14px;
  line-height: 214%;
  color: #737373;
}

.social-page__text {
  font-size: 14px;
  line-height: 214%;
  color: rgba(255, 255, 255, 0.7);
}

.social-page__email {
  font-size: 14px;
  line-height: 30px;
  line-height: 214%;
  color: #34c759;
}

/* ===================================== */
/* ===================================== */
/* ===================================== */
/* ===================================== */
/* ===================================== */
/* ===================================== */
/* ===================================== */
/* ===================================== */
/* ===================================== */
/* ===================================== */
/* ===================================== */
/* ===================================== */
